<h3>Детальная информация об участнике:</h3>
<form>
  <div class="form-group">
    <label>Имя: {{model.firstName}}</label>
  </div>
  <div class="form-group">
    <label>Фамилия: {{model.lastName}}</label>
  </div>
<div class="form-group">
    <label>Список докладов:</label>
    {{#each model.reports as |report|}}
      <div>
        <div>
          <label>Дата: {{report.date}}</label>
        </div>
        <div>
          <label>Оценка: {{report.raiting}}</label>
        </div>

      </div>
    {{/each}}
  </div>
</form>

<div class="row">
  {{#link-to "speaker.edit" model.id class="col btn btn-primary mx-3  active"}}
    Изменить
  {{/link-to}}
  <button class="col btn btn-primary mr-3  active" onclick={{action "deleteSpeaker" model}}>Удалить</button>
</div>
