<h3>Детальная информация:</h3>
<form>
  <div class="form-group">
    <label>Название книги: {{model.title}}</label>
  </div>
  <div class="form-group">
    <label>Автор: {{model.author.lastName}} {{model.author.firstName}}</label>
  </div>
  <div class="form-group">
    <label>Количество страниц: {{model.countPages}}</label>
  </div>
  <div class="form-group">
    <a href={{model.descUrl}}>Ссылка на полное описание</a>
  </div>
  <div class="form-group">
    <label>Список докладов:</label>
    {{#if (await (can "create report" model)) }}
        {{#link-to "book.detail.new-report" model.id class="btn btn-primary mx-3  active"}}
          Добавить доклад
        {{/link-to}}
      {{/if}}
    {{#each model.reports as |report|}}
      <div>
        <div>
          <label>Дата: {{report.date}}</label>
        </div>
        <div>
          <label>Оценка: {{report.raiting}}</label>
        </div>
        <div>
          <label>Выступающий: {{report.speaker.firstName}} {{report.speaker.lastName}}</label>
        </div>
      </div>
    {{/each}}
  </div>
  {{outlet}}
</form>

{{#if (await (can "edit book" model)) }}
  <div class="row">
    {{#link-to "book.edit" model.id class="col btn btn-primary mx-3  active"}}
      Изменить
    {{/link-to}}
    <button class="col btn btn-primary mr-3  active" onclick={{action "deleteBook" model}}>Удалить</button>
  </div>
{{/if}}